[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
flake8 = "*"
autopep8 = "*"
coverage = "*"
mypy = "*"

[packages]
django = "*"
django-filter = "*"
djangorestframework = "*"
django-environ = "*"

[requires]
python_version = "3.8"
